<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.xihuxiaolong.justdoit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".module.main.LaunchActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.TransNav">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.TransNav"
            android:windowSoftInputMode="adjustPan">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".module.editplan.EditPlanActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".module.editalert.EditAlertActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".module.editphoto.EditPhotoActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />

        <activity android:name=".module.planhistory.PlanHistoryActivity" />
        <activity android:name=".module.planlist.OtherDayActivity" />
        <activity android:name=".module.adddayplan.AddDayPlanActivity" />
        <activity android:name=".module.targetdetail.TargetDetailActivity" />
        <activity
            android:name=".module.images.BigImageActivity"/>
        <activity
            android:name=".module.settings.SettingsActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:theme="@style/CropTheme" />

        <service android:name=".common.service.PlanService" />

        <receiver android:name=".common.receiver.MyReceiver">
            <intent-filter>

                <!-- 手机开机 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 手机唤醒解锁 -->
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter>

                <!-- 程序包安装与卸载 -->
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".module.redoplandetail.RedoPlanDetailActivity"
            android:theme="@style/MyDialogStyle" />
    </application>

</manifest>