<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.xihuxiaolong.justdoit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".module.planlist.PlanListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.editplan.EditPlanActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".module.editalert.EditAlertActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".module.planhistory.PlanHistoryActivity" />
        <activity android:name=".module.adddayplan.AddDayPlanActivity" />
        <activity android:name=".module.settings.SettingsActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity android:name="com.soundcloud.android.crop.CropImageActivity"
            android:theme="@style/CropTheme"/>

        <service android:name=".module.service.PlanService">
            <intent-filter>
                <action android:name="com.example.communication.MSG_ACTION" />
            </intent-filter>
        </service>

    </application>

</manifest>